config.json
app_files/
public/static/img/candidates/
public/static/elections/
composer/*
!composer/composer.json
!composer/composer.lock
public/static/img/election_covers/
fpdf/*
!fpdf/README.md
*test.*
forgot.php