.fear {
    display: none;
}
body {
    display: flex;
    margin: 0;
}

.mdc-drawer-app-content {
    flex: auto;
    position: relative;
}
.mdc-drawer {
    position: fixed;
}
.main-content {
    overflow: auto;
    height: 100%;
}
.mdc-top-app-bar {
    z-index: 7;
    background-color: white;
    color: black;
}
.mdc-top-app-bar .material-icons {
    color: black;
}
.drawer-logo {
    padding-top: 10px;
    height: 100px;
    width: 100px;
}
.card-expand-default {
    /*width: 100%;
    height: 16px;
    background-color: var(--mdc-theme-primary);*/
    border-radius: 4px 4px 0 0;
    opacity: 0.8;
}
.txt-ctr {
    text-align: center;
}
.flx-ctr {
    display: flex;
    justify-content: center;
}
.clickable {
    cursor: pointer;
}
.sub-container {
    width:90%;
    margin-left:5%;
    margin-right:5%;
}
.cat-404 {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}
.obs {
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 3;
    opacity: 0.5;
    position: fixed;
}
.mdc-dialog__actions .mdc-icon-button {
    margin: 10px 8px;
}
@media only screen and (min-width: 1001px){
    .mobile-only {
        display: none;
    }
    .big-txt-field {
        min-width: 800px;
    }
}
@media only screen and (max-width: 1000px){
    .desktop-only {
        display: none;
    }
    .big-txt-field {
        min-width: 400px;
    }
    @media only screen and (max-width: 450px) {
        .mdc-dialog__actions .mdc-icon-button {
            margin: 10px 20px;
        }
        .big-txt-field {
            min-width: 150px;
        }
    }
}
.vote-card__media {
    background-image: url(https://abir.taheer.me/resources/images/vote.jpg);
}
.candidate-card__media {
    background-image: url(/static/img/candidates.jpg);
}
.vote-card__pad {
    padding: 0 20px;
}
:root {
    --mdc-theme-primary: #6c5ce7;
}
.red-txt {
    color: #d63031;
}
.green-txt {
    color: #00b894;
}
h1, h2, h3, h4, .heading{
    font-family: Roboto, sans-serif;
    font-weight: 600;
}
.candidate-select {
    counter-reset: rank;
}
.candidate-select .mdc-list-item {
    cursor: move !important;
}
.rank-candidates {
    counter-reset: rank;
}
.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.right-icons {
    position: absolute;
    right: 10px;
}
.candidate-remove {
    margin-right: 10px;
    cursor: pointer;
}
.small-txt{
    font-size: 12px;
}
.candidate-select li {
    margin-bottom: 2px;
}
.candidate-lower {
    cursor: pointer;
    margin-right: 10px;
}
.candidate-select .mdc-list-item__text {
    width: calc(100% - 62px);
    font-size: 14px;
}
.candidate-select .candidate-name::before, .rank-candidates .candidate-name::before {
    counter-increment: rank;
    content: counter(rank) ". ";
}
.error-img {
    margin-top: 10px;
    margin-bottom: 20px;
    height: 200px;
}
.card-subtext {
    padding: 10px 20px;
    color: grey;
}
.candidate-photo {
    border-radius: 50%;
    object-fit: cover;
    width: 200px;
    height: 200px;
}
.click-hover:hover {
    opacity: 0.8;
}
.linkish {
    color: #0984e3;
    text-decoration: underline;
}
.mdc-dialog__actions .mdc-icon-button {
    border-radius: 50%;
    color: white;
}
.so-pinterest {
    background-color: #cb2027;
}
.so-facebook {
    background-color: #3B5998;
}
.so-envelope {
    background-color: #1d76d0;
}
.so-linkedin {
    background-color: #007bb5;
}
.so-print {
    background-color: #6c5ce7;
}
.so-twitter {
    background-color: #55acee;
}
.share-url {
    height: 40px;
    background-color: #ececec;
    position: relative;
}
.share-url input {
    padding: 0 10px;
    background-color: #f0f8ff00;
    border: 0;
    height: 40px;
}
.url-content {
    width: calc( 100% - 86px );
    overflow: auto;
    overflow-scrolling: auto;
    text-after-overflow: elipsis;
    outline: none;
}
.url-content::-webkit-scrollbar {
    width: 0 !important
}
.copy-social {
    position: absolute;
    border: solid 1px #d3d3d3;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 8px 7px;
    cursor: pointer;
}
#select-box {
    max-height: 0;
    min-height: 0;
    position: absolute;
    opacity: 0;
}
.copy-social:hover {
    opacity: 0.7;
}
.pos-rel {
    position: relative;
}
.change-pic-overlay {
    position: absolute;
    background-color: black;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
.change-pic-overlay:hover {
    opacity: 0.8;
    cursor: pointer;
}
.change-pic-overlay p {
    margin-top: 37%;
    color: white;
}
#pfp-upload input[type='file']{
    height: 0;
    width: 0;
    border: 0;
}
.no-bullet li {
    list-style: none;
}
.selectable:hover{
    opacity: 0.7;
    border: solid #74b9ff 5px;
}
.selected {
    border: solid #74b9ff 5px;
}
.upload-election-img i {
    font-size: 40px;
    padding-top: 10px;
}
.image-preview {
    width: 200px;
    min-height: 100px;
    border: solid 1px black;
    border-radius: 5px;
}
.draggable {
    cursor: move;
}
.mdc-drawer {
    border-color: rgba(0, 0, 0, 0);
}

#markdown-editor {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
    margin-bottom: 30px;
}

#markdown-editor .markdown-preview {
    border: 1px solid rgb(169, 169, 169);
    width: 100%;
    height: 300px;
    overflow-y: auto;
    padding: 0 20px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    border-radius: 5px;
}

#markdown-editor textarea {
    font-size: 14px;
    font-family: 'Monaco', courier, monospace;
    line-height: 200%;
    height: 300px;
}
.rainbow {
    background-image: linear-gradient(to left, #be2edd, #4834d4, #0984e3, #00b894, #fdcb6e, orange, #eb4d4b);
    -webkit-background-clip: text;
    color: transparent;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote p {
    display: inline;
}
code {
    background-color: #eee;
    padding: 5px;
    border-radius: 5px;
}
pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 15px;
}
.full-width-txt-field {
    min-width: 100%;
}