.fear {
    display: none;
}
body {
    display: flex;
    margin: 0;
}

.mdc-drawer-app-content {
    flex: auto;
    position: relative;
}
.mdc-drawer {
    position: fixed;
}
.main-content {
    overflow: auto;
    height: 100%;
}
.mdc-top-app-bar {
    z-index: 7;
    background-color: white;
    color: black;
}
.mdc-top-app-bar .material-icons {
    color: black;
}
.drawer-logo {
    padding-top: 10px;
    height: 100px;
    width: 100px;
}
.card-expand-default {
    /*width: 100%;
    height: 16px;
    background-color: var(--mdc-theme-primary);*/
    border-radius: 4px 4px 0 0;
    opacity: 0.8;
}
.txt-ctr {
    text-align: center;
}
.flx-ctr {
    display: flex;
    justify-content: center;
}
.clickable {
    cursor: pointer;
}
.sub-container {
    width:90%;
    margin-left:5%;
    margin-right:5%;
}
.cat-404 {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}
.obs {
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 3;
    opacity: 0.5;
    position: fixed;
}
@media only screen and (min-width: 1001px){
    .mobile-only {
        display: none;
    }
}
@media only screen and (max-width: 1000px){
    .desktop-only {
        display: none;
    }
}
.vote-card__media {
    background-image: url(https://abir.taheer.me/resources/images/vote.jpg);
}
.vote-card__pad {
    padding: 0 20px;
}
:root {
    --mdc-theme-primary: #6c5ce7;
}
.red-txt {
    color: #d63031;
}
h1, h2, h3, h4, .heading{
    font-family: "Roboto Slab", serif;
    font-weight: 600;
}
.candidate-select {
    cursor: move;
    counter-reset: rank;
}
.rank-candidates {
    counter-reset: rank;
}
.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.right-icons {
    position: absolute;
    right: 10px;
}
.candidate-remove {
    margin-right: 10px;
    cursor: pointer;
}
.small-txt{
    font-size: 12px;
}
.candidate-select li {
    margin-bottom: 2px;
}
.candidate-lower {
    cursor: pointer;
    margin-right: 10px;
}
.candidate-select .mdc-list-item__text {
    width: calc(100% - 62px);
    font-size: 14px;
}
.candidate-select .candidate-name::before, .rank-candidates .candidate-name::before {
    counter-increment: rank;
    content: counter(rank) ". ";
}